.navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }
  
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
    margin-bottom: 0;
    background-color: #ffffff;
  }
 .carousel-inner{
     text-align: center;
 }
 .carousel-inner{
    height: 60%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

 .col-sm-4 {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
 }