.navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }

  .slide{
    text-align: center;
  }
  
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
    margin-bottom: 0;
    background-color: #ffffff;
  }
 
  /* Add a gray background color and some padding to the footer */
  .footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  .carousel-inner{
    height: 60%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
.search {
  text-align: center;
}